body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    justify-content: space-between;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header-container {
    display: flex;
    align-self: center;
}

button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #region header  */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: flex;

}

.logo-span-header {
    color: #2e2f42;
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.menu-item {}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact {
    display: flex;
    gap: 40px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.contact-item:last-child {
    margin-right: 0
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* #endregion header  */

/* #region hero */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;

}

.hero-container {
    text-align: center;
}

.hero-button:hover,
.hero-button:focus {
    color: #404bbf
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button:hover,
.hero-button:focus {
    color: #ffffff;
    background-color: #404bbf;
}

/* #endregion hero  */

/* #section-advantages */
.advantages {
    padding: 120px 0;
}

.section-title {}

.list-feature {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-feature:last-child {
    margin-right: 0
}

.feature {
    width: calc((100% - 72px) / 4);
}


.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endsection-advantages */

/* #esection-team */
.section-team {
    background-color: #F4F4FD;
    padding: 120px 0
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    row-gap: 48px;
    justify-content: center;
    gap: 24px;
}

.team-list:last-child {
    margin-right: 0
}

.team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-profes {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}

.container-team-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* #endsection-team */

/* #portfolio--section */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

}

.container-portfolio {}

.container-addition {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: center;
    column-gap: 24px;
}

.service {
    width: calc((100% - 48px) / 3);
}

.service:last-child(2n+1) {
    margin-right: 0
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endportfolio-section */

/* #region footer */
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
}

/* #endregion footer */